<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        {{ form_start(form) }}
        <div class="modal-header">
            <h5 class="modal-title">Ajouter un grade</h5>
        </div>
        <div class="modal-body">
            {{ form_row(form.GradeRank) }}
            {{ form_row(form.GradeStatus) }}
            {{ form_row(form.GradeDate) }}
            {{ form_row(form.GradeCertificate) }}
        </div>
        <div class="modal-footer">
            {{ form_widget(form.Submit) }}
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        </div>
        {{ form_end(form) }}
    </div>
</div>
