<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Récupération mot de passe{% endblock %}</title>

    <link rel="icon" type="image/svg" href="{{ asset('images/favicon.svg') }}" />

    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}" />
</head>
<body class="container-fluid">
    <main class="container-fluid">
        <div class="text-center"><img src="{{ asset('images/favicon.svg') }}" alt="" width="72" height="72"></div>
        <div class="container col col-lg-6">
            {% for type, messages in app.flashes %}
                {% for message in messages %}
                    <div class="text-center alert alert-dismissible alert-{{ type }}">
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <h5 class="text-center font-weight-normal">Compléter ce formulaire pour recevoir par email un lien qui vous permettra de vous connecter et de modifier votre mot de passe.</h5>
        <div class="mx-auto col col-md-2">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </main>
    <footer class="container-fluid">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    </footer>
</body>
</html>
