{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <div class="container col col-lg-5">
        <h1 class="text-center">Session {{ listData.getFormationtype(data.Session.getFormationSessionType) }}{% if data.Session.getFormationSessionDate is null %} en attente{% else %} du {{ data.Session.getFormationSessionDate|date('d/m/Y') }}{% endif %} {% if access.check('Formation-SessionEdit') %}<button class="btn btn-sm btn-primary" onclick="load('{{ path('formation-sessionEdit', {'formationSession': data.Session.getFormationSessionId}) }}', 'popup')" onmouseover="this.style.cursor='pointer'">Modifier</button>{% endif %}</h1>
        <h2 class="text-center">Liste des candidats à la session <a class="btn btn-sm btn-primary" href="{{ path('formation-csvList', {'formationSession': data.Session.getFormationSessionId}) }}"><i class="bi-download"></i> Liste CSV</a></h2>
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th scope="col">Prénom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Inscrit le</th>
                </tr>
            </thead>
            <tbody>
            {% for candidate in data.Session.getFormationSessionCandidates %}
                <tr onclick="load('{{ path('formation-candidateDetails', {'formationSession': data.Session.getFormationSessionId, 'formationSessionCandidate': candidate.getFormationSessionCandidateId}) }}', 'popup')" onmouseover="this.style.cursor='pointer'">
                    <td class="align-middle">{{ candidate.getFormationSessionCandidateFirstname }}</td>
                    <td class="align-middle">{{ candidate.getFormationSessionCandidateName }}</td>
                    <td class="align-middle">{{ candidate.getFormationSessionCandidateDate(true) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
