{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <h1 class="text-center">Liste des professeurs enfants</h1>
    <div class="container col col-lg-8">
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Grade</th>
                    <th scope="col">Club</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
            {% for member in data.List %}
                <tr {% if member.getClubTeacherMember is not null %}onclick="window.open('{{ path('member-index', {'member': member.getClubTeacherMember.getMemberId}) }}', '_self')" onmouseover="this.style.cursor='pointer'"{% endif %}>
                    <td class="align-middle">{{ loop.index }}</td>
                    <td class="align-middle">{% if member.getClubTeacherMember is not null %}{{ member.getClubTeacherMember.getMemberFirstname|title }}{% else %}{{ member.getClubTeacherFirstname|title }}{% endif %}</td>
                    <td class="align-middle">{% if member.getClubTeacherMember is not null %}{{ member.getClubTeacherMember.getMemberName|title }}{% else %}{{ member.getClubTeacherName|title }}{% endif %}</td>
                    <td class="align-middle">{% if member.getClubTeacherMember is not null %}{{ listData.getGrade(member.getClubTeacherMember.getMemberLastGrade.getGradeRank) }}{% else %}{{ listData.getGrade(member.getClubTeacherGrade) }}{% endif %}</td>
                    <td class="align-middle">{{ member.getClubTeacherClub.getClubName|title }}</td>
                    <td class="align-middle">{% if member.getClubTeacherMember is not null and member.getClubTeacherMember.getMemberEmail is not null %}{{ member.getClubTeacherMember.getMemberEmail }}{% else %}Non disponible{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
