{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <h2>Liste des timbres imprimées (90 derniers jours)</h2>
    <table class="table table-sm table-hover user-select-none">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Impression</th>
                <th scope="col">Licence n°</th>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Club</th>
                <th scope="col">Echéance</th>
            </tr>
        </thead>
        <tbody>
        {% for member in list %}
            <tr>
                <td class="align-middle">{{ loop.index }}</td>
                <td class="align-middle">{{ member.DatePrint|date("d/m/Y") }}</td>
                <td class="align-middle">{{ member.Id }}</td>
                <td class="align-middle">{{ member.FirstName|title }}</td>
                <td class="align-middle">{{ member.Name|title }}</td>
                <td class="align-middle">{{ member.ClubId }}</td>
                <td class="align-middle">{{ member.Deadline|date("d/m/Y") }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascripts %}
{% endblock %}
