<h1 class="text-center">
    Août
    <label>
        <select class="form-select form-select-sm" onchange="window.open('{{ path('club-index', {'club': data.Club.getClubId}) }}' + '?season=' + this.value, '_self')">
            {% for Season in data.SeasonList %}
                <option value="{{ Season }}" {% if Season == data.Season %}selected{% endif %}>{{ Season }}</option>
            {% endfor %}
        </select>
    </label>
     - Juillet {{ data.Season + 1 }}
</h1>

<div id="adultSummary" class="container col col-lg-4 text-center visually-hidden">
    <button class="btn btn-light" onclick="show('lessonSummary')" onmouseover="this.style.cursor='pointer'">Liste des cours</button> <button class="btn btn-light" onclick="show('childSummary')" onmouseover="this.style.cursor='pointer'">Bilan Enfants</button>
    <h3 class="text-center">Bilan des présences adultes</h3>

    <table class="table table-sm table-hover user-select-none">
        <thead>
            <tr>
                <th scope="col" class="text-center">Prénom</th>
                <th scope="col" class="text-center">Nom</th>
                <th scope="col" class="text-center">Total (h)</th>
            </tr>
        </thead>
        <tbody>
            {% if data.Summary.Adult.Season is defined %}
                <tr class="table-primary">
                    <td class="text-center" colspan="3">Total de la saison</td>
                </tr>
                {% for member in data.Summary.Adult.Season %}
                    <tr class="table-active">
                        <td class="text-center">{{ member.Firstname|title }}</td>
                        <td class="text-center">{{ member.Name|title }}</td>
                        <td class="text-center">{{ member.Total / 60 }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            {% if data.Summary.Adult.7 is defined %}
                <tr class="table-primary">
                    <td class="text-center" colspan="3">Juillet</td>
                </tr>
                {% for member in data.Summary.Adult.7 %}
                    <tr class="table-active">
                        <td class="text-center">{{ member.Firstname|title }}</td>
                        <td class="text-center">{{ member.Name|title }}</td>
                        <td class="text-center">{{ member.Total / 60 }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            {% if data.Summary.Adult.6 is defined %}
                <tr class="table-primary">
                    <td class="text-center" colspan="3">Juin</td>
                </tr>
                {% for member in data.Summary.Adult.6 %}
                    <tr class="table-active">
                        <td class="text-center">{{ member.Firstname|title }}</td>
                        <td class="text-center">{{ member.Name|title }}</td>
                        <td class="text-center">{{ member.Total / 60 }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            {% if data.Summary.Adult.5 is defined %}
                <tr class="table-primary">
                    <td class="text-center" colspan="3">Mai</td>
                </tr>
                {% for member in data.Summary.Adult.5 %}
                    <tr class="table-active">
                        <td class="text-center">{{ member.Firstname|title }}</td>
                        <td class="text-center">{{ member.Name|title }}</td>
                        <td class="text-center">{{ member.Total / 60 }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            {% if data.Summary.Adult.4 is defined %}
                <tr class="table-primary">
                    <td class="text-center" colspan="3">Avril</td>
                </tr>
                {% for member in data.Summary.Adult.4 %}
                    <tr class="table-active">
                        <td class="text-center">{{ member.Firstname|title }}</td>
                        <td class="text-center">{{ member.Name|title }}</td>
                        <td class="text-center">{{ member.Total / 60 }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            {% if data.Summary.Adult.3 is defined %}
                <tr class="table-primary">
                    <td class="text-center" colspan="3">Mars</td>
                </tr>
                {% for member in data.Summary.Adult.3 %}
                    <tr class="table-active">
                        <td class="text-center">{{ member.Firstname|title }}</td>
                        <td class="text-center">{{ member.Name|title }}</td>
                        <td class="text-center">{{ member.Total / 60 }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            {% if data.Summary.Adult.2 is defined %}
                <tr class="table-primary">
                    <td class="text-center" colspan="3">Février</td>
                </tr>
                {% for member in data.Summary.Adult.2 %}
                    <tr class="table-active">
                        <td class="text-center">{{ member.Firstname|title }}</td>
                        <td class="text-center">{{ member.Name|title }}</td>
                        <td class="text-center">{{ member.Total / 60 }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            {% if data.Summary.Adult.1 is defined %}
                <tr class="table-primary">
                    <td class="text-center" colspan="3">Janvier</td>
                </tr>
                {% for member in data.Summary.Adult.1 %}
                    <tr class="table-active">
                        <td class="text-center">{{ member.Firstname|title }}</td>
                        <td class="text-center">{{ member.Name|title }}</td>
                        <td class="text-center">{{ member.Total / 60 }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            {% if data.Summary.Adult.12 is defined %}
                <tr class="table-primary">
                    <td class="text-center" colspan="3">Décembre</td>
                </tr>
                {% for member in data.Summary.Adult.12 %}
                    <tr class="table-active">
                        <td class="text-center">{{ member.Firstname|title }}</td>
                        <td class="text-center">{{ member.Name|title }}</td>
                        <td class="text-center">{{ member.Total / 60 }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            {% if data.Summary.Adult.11 is defined %}
                <tr class="table-primary">
                    <td class="text-center" colspan="3">Novembre</td>
                </tr>
                {% for member in data.Summary.Adult.11 %}
                    <tr class="table-active">
                        <td class="text-center">{{ member.Firstname|title }}</td>
                        <td class="text-center">{{ member.Name|title }}</td>
                        <td class="text-center">{{ member.Total / 60 }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            {% if data.Summary.Adult.10 is defined %}
                <tr class="table-primary">
                    <td class="text-center" colspan="3">Octobre</td>
                </tr>
                {% for member in data.Summary.Adult.10 %}
                    <tr class="table-active">
                        <td class="text-center">{{ member.Firstname|title }}</td>
                        <td class="text-center">{{ member.Name|title }}</td>
                        <td class="text-center">{{ member.Total / 60 }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            {% if data.Summary.Adult.9 is defined %}
                <tr class="table-primary">
                    <td class="text-center" colspan="3">Septembre</td>
                </tr>
                {% for member in data.Summary.Adult.9 %}
                    <tr class="table-active">
                        <td class="text-center">{{ member.Firstname|title }}</td>
                        <td class="text-center">{{ member.Name|title }}</td>
                        <td class="text-center">{{ member.Total / 60 }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            {% if data.Summary.Adult.8 is defined %}
                <tr class="table-primary">
                    <td class="text-center" colspan="3">Août</td>
                </tr>
                {% for member in data.Summary.Adult.8 %}
                    <tr class="table-active">
                        <td class="text-center">{{ member.Firstname|title }}</td>
                        <td class="text-center">{{ member.Name|title }}</td>
                        <td class="text-center">{{ member.Total / 60 }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>

<div id="childSummary" class="container col col-lg-4 text-center visually-hidden">
    <button class="btn btn-light" onclick="show('lessonSummary')" onmouseover="this.style.cursor='pointer'">Liste des cours</button> <button class="btn btn-light" onclick="show('adultSummary')" onmouseover="this.style.cursor='pointer'">Bilan Adultes</button>
    <h3 class="text-center">Bilan des présences enfants</h3>

    <table class="table table-sm table-hover user-select-none">
        <thead>
            <tr>
                <th scope="col" class="text-center">Prénom</th>
                <th scope="col" class="text-center">Nom</th>
                <th scope="col" class="text-center">Total (h)</th>
            </tr>
        </thead>
        <tbody>
        {% if data.Summary.Child.Season is defined %}
            <tr class="table-primary">
                <td class="text-center" colspan="3">Total de la saison</td>
            </tr>
            {% for member in data.Summary.Child.Season %}
                <tr class="table-active">
                    <td class="text-center">{{ member.Firstname|title }}</td>
                    <td class="text-center">{{ member.Name|title }}</td>
                    <td class="text-center">{{ member.Total / 60 }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        {% if data.Summary.Child.7 is defined %}
            <tr class="table-primary">
                <td class="text-center" colspan="3">Juillet</td>
            </tr>
            {% for member in data.Summary.Child.7 %}
                <tr class="table-active">
                    <td class="text-center">{{ member.Firstname|title }}</td>
                    <td class="text-center">{{ member.Name|title }}</td>
                    <td class="text-center">{{ member.Total / 60 }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        {% if data.Summary.Child.6 is defined %}
            <tr class="table-primary">
                <td class="text-center" colspan="3">Juin</td>
            </tr>
            {% for member in data.Summary.Child.6 %}
                <tr class="table-active">
                    <td class="text-center">{{ member.Firstname|title }}</td>
                    <td class="text-center">{{ member.Name|title }}</td>
                    <td class="text-center">{{ member.Total / 60 }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        {% if data.Summary.Child.5 is defined %}
            <tr class="table-primary">
                <td class="text-center" colspan="3">Mai</td>
            </tr>
            {% for member in data.Summary.Child.5 %}
                <tr class="table-active">
                    <td class="text-center">{{ member.Firstname|title }}</td>
                    <td class="text-center">{{ member.Name|title }}</td>
                    <td class="text-center">{{ member.Total / 60 }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        {% if data.Summary.Child.4 is defined %}
            <tr class="table-primary">
                <td class="text-center" colspan="3">Avril</td>
            </tr>
            {% for member in data.Summary.Child.4 %}
                <tr class="table-active">
                    <td class="text-center">{{ member.Firstname|title }}</td>
                    <td class="text-center">{{ member.Name|title }}</td>
                    <td class="text-center">{{ member.Total / 60 }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        {% if data.Summary.Child.3 is defined %}
            <tr class="table-primary">
                <td class="text-center" colspan="3">Mars</td>
            </tr>
            {% for member in data.Summary.Child.3 %}
                <tr class="table-active">
                    <td class="text-center">{{ member.Firstname|title }}</td>
                    <td class="text-center">{{ member.Name|title }}</td>
                    <td class="text-center">{{ member.Total / 60 }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        {% if data.Summary.Child.2 is defined %}
            <tr class="table-primary">
                <td class="text-center" colspan="3">Février</td>
            </tr>
            {% for member in data.Summary.Child.2 %}
                <tr class="table-active">
                    <td class="text-center">{{ member.Firstname|title }}</td>
                    <td class="text-center">{{ member.Name|title }}</td>
                    <td class="text-center">{{ member.Total / 60 }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        {% if data.Summary.Child.1 is defined %}
            <tr class="table-primary">
                <td class="text-center" colspan="3">Janvier</td>
            </tr>
            {% for member in data.Summary.Child.1 %}
                <tr class="table-active">
                    <td class="text-center">{{ member.Firstname|title }}</td>
                    <td class="text-center">{{ member.Name|title }}</td>
                    <td class="text-center">{{ member.Total / 60 }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        {% if data.Summary.Child.12 is defined %}
            <tr class="table-primary">
                <td class="text-center" colspan="3">Décembre</td>
            </tr>
            {% for member in data.Summary.Child.12 %}
                <tr class="table-active">
                    <td class="text-center">{{ member.Firstname|title }}</td>
                    <td class="text-center">{{ member.Name|title }}</td>
                    <td class="text-center">{{ member.Total / 60 }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        {% if data.Summary.Child.11 is defined %}
            <tr class="table-primary">
                <td class="text-center" colspan="3">Novembre</td>
            </tr>
            {% for member in data.Summary.Child.11 %}
                <tr class="table-active">
                    <td class="text-center">{{ member.Firstname|title }}</td>
                    <td class="text-center">{{ member.Name|title }}</td>
                    <td class="text-center">{{ member.Total / 60 }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        {% if data.Summary.Child.10 is defined %}
            <tr class="table-primary">
                <td class="text-center" colspan="3">Octobre</td>
            </tr>
            {% for member in data.Summary.Child.10 %}
                <tr class="table-active">
                    <td class="text-center">{{ member.Firstname|title }}</td>
                    <td class="text-center">{{ member.Name|title }}</td>
                    <td class="text-center">{{ member.Total / 60 }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        {% if data.Summary.Child.9 is defined %}
            <tr class="table-primary">
                <td class="text-center" colspan="3">Septembre</td>
            </tr>
            {% for member in data.Summary.Child.9 %}
                <tr class="table-active">
                    <td class="text-center">{{ member.Firstname|title }}</td>
                    <td class="text-center">{{ member.Name|title }}</td>
                    <td class="text-center">{{ member.Total / 60 }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        {% if data.Summary.Child.8 is defined %}
            <tr class="table-primary">
                <td class="text-center" colspan="3">Août</td>
            </tr>
            {% for member in data.Summary.Child.8 %}
                <tr class="table-active">
                    <td class="text-center">{{ member.Firstname|title }}</td>
                    <td class="text-center">{{ member.Name|title }}</td>
                    <td class="text-center">{{ member.Total / 60 }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>

<div id="lessonSummary" class="container col col-lg-4 text-center">
    <button class="btn btn-light" onclick="show('adultSummary')" onmouseover="this.style.cursor='pointer'">Bilan Adultes</button> <button class="btn btn-light" onclick="show('childSummary')" onmouseover="this.style.cursor='pointer'">Bilan Enfants</button>
    <h3 class="text-center">Ajout de cours</h3>

    <div class="text-center mb-1">
        {% for lesson in data.Club.getClubClasses %}
            <button class="btn btn-sm btn-light mb-1" onclick="window.open('{{ path('club-lessonAdd', {'club': data.Club.getClubId, 'number': loop.index}) }}', '_self')" onmouseover="this.style.cursor='pointer'">{{ lesson.getClubClassDayDisplay }} {{ lesson.getClubClassStartingHour|date('H:i') }}</button>
        {% endfor %}<br />
        <button class="btn btn-sm btn-light" onclick="load('{{ path('club-lessonAdd', {'club': data.Club.getClubId}) }}', 'popup')" onmouseover="this.style.cursor='pointer'">Autres jours</button>
    </div>

    <h3 class="text-center">Liste des cours</h3>

    <table class="table table-sm table-hover user-select-none">
        <thead>
            <tr>
                <th scope="col" class="text-center">Date</th>
                <th scope="col" class="text-center">Début</th>
                <th scope="col" class="text-center"># pratiquants</th>
            </tr>
        </thead>
        <tbody>
        {% set Month = 0 %}
            {% for lesson in data.Lesson %}
                {% if Month != lesson.getLessonDate|date("n") %}
                    {% set Month = lesson.getLessonDate|date("n") %}
                    <tr class="table-primary">
                        <td class="text-center" colspan="3">{{ listData.getMonth(lesson.getLessonDate|date("n")) }}</td>
                    </tr>
                {% endif %}
                <tr class="table-active" onclick="window.open('{{ path('club-lessonIndex', {'club': data.Club.getClubId, 'lesson': lesson.getLessonId}) }}', '_self')" onmouseover="this.style.cursor='pointer'">
                    <td class="text-center">{{ listData.getDay(lesson.getLessonDate|date("N")) }} {{ lesson.getLessonDate|date("d") }}</td>
                    <td class="text-center">{{ lesson.getLessonStartingHour|date('H:i') }}</td>
                    <td class="text-center">{{ lesson.getLessonAttendances|length }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
