<div class="container col col-lg-8">
    <h4 class="text-center">Historique</h4>

    <table class="table table-sm table-hover user-select-none">
        <thead>
            <tr>
                <th class="text-center col-4" scope="col">Création</th>
                <th class="text-center col-4" scope="col">Affiliation</th>
                <th class="text-center col-4" scope="col">Retrait</th>
            </tr>
        </thead>
        <tbody>
            <tr{% if access.check('Club-HistoryEdit') %} onclick="load('{{ path('club-historyEdit', {'club': data.Club.getClubId}) }}', 'popup')" onmouseover="this.style.cursor='pointer'"{% endif %}>
                <td class="text-center">{{ data.Club.getClubCreation(true) }}</td>
                <td class="text-center">{{ data.Club.getClubMembershipDate(true).Membership }}</td>
                <td class="text-center">{{ data.Club.getClubMembershipDate(true).Retire }}</td>
            </tr>
        </tbody>
    </table>

    <h4 class="text-center">Gestionnaire(s){% if access.check('Club-ManagerAdd') %} <button class="btn btn-sm btn-primary" onclick="load('{{ path('club-managersAdd', {'club': data.Club.getClubId}) }}', 'popup')" onmouseover="this.style.cursor='pointer'">Ajouter</button>{% endif %}</h4>

    <table class="table table-sm table-hover user-select-none">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Login</th>
                <th scope="col">N° Licence</th>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
        {% for manager in data.Club.getClubManagers %}
            <tr{% if access.check('Club-ManagerEdit') %} onclick="load('{{ path('club-managersEdit', {'club': data.Club.getClubId, 'manager': manager.getClubManagerId}) }}', 'popup')" onmouseover="this.style.cursor='pointer'"{% endif %}>
                <td>{{ loop.index }}{% if manager.getClubManagerIsMain %} *{% endif %}</td>
                <td>{{ manager.getClubManagerLogin }}</td>
                <td>{{ manager.getClubManagerMemberId }}</td>
                <td>{{ manager.getClubManagerFirstname }}</td>
                <td>{{ manager.getClubManagerName }}</td>
                <td>{{ manager.getClubManagerEmail }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="text-white">* gestionnaire principal</div>

    <h4 class="text-center">Détails Association</h4>

    <table class="table table-sm table-hover user-select-none">
        <thead>
            <tr>
                <th scope="col">Nom du club</th>
                <th scope="col">Type</th>
                <th scope="col">Adresse</th>
                <th scope="col">Localité</th>
                <th scope="col">IBAN</th>
                <th scope="col">N° BCE</th>
            </tr>
        </thead>
        <tbody>
            <tr{% if access.check('Club-AssociationEdit') %} onclick="load('{{ path('club-associationEdit', {'club': data.Club.getClubId}) }}', 'popup')" onmouseover="this.style.cursor='pointer'"{% endif %}>
                <td>{{ data.Club.getClubName }}</td>
                <td>{{ data.Club.getClubType(true) }}</td>
                <td>{{ data.Club.getClubAddress }}</td>
                <td>{{ data.Club.getClubCity(true) }}</td>
                <td>{{ data.Club.getClubIban }}</td>
                <td>{{ data.Club.getClubBce }}</td>
            </tr>
        </tbody>
    </table>

    <h4 class="text-center">Détails du comité</h4>

    <table class="table table-sm table-hover user-select-none">
        <thead>
            <tr>
                <th class="text-center col-4" scope="col">Président</th>
                <th class="text-center col-4" scope="col">Secrétaire</th>
                <th class="text-center col-4" scope="col">Trésorier</th>
            </tr>
        </thead>
        <tbody>
            <tr{% if access.check('Club-CommiteeEdit') %} onclick="load('{{ path('club-committeeEdit', {'club': data.Club.getClubId}) }}', 'popup')" onmouseover="this.style.cursor='pointer'"{% endif %}>
                <td class="text-center">{{ data.Club.getClubPresident(true) }}</td>
                <td class="text-center">{{ data.Club.getClubSecretary(true) }}</td>
                <td class="text-center">{{ data.Club.getClubTreasurer(true) }}</td>
            </tr>
        </tbody>
    </table>

    <h4 class="text-center">Détails site internet</h4>

    <table class="table table-sm table-hover user-select-none">
        <tbody>
            <tr{% if access.check('Club-WebsiteEdit') %} onclick="load('{{ path('club-websiteEdit', {'club': data.Club.getClubId}) }}', 'popup')" onmouseover="this.style.cursor='pointer'"{% endif %}>
                <td>{{ data.Club.getClubUrl(true)|raw }}</td>
                <td>{{ data.Club.getClubContact(true) }}</td>
                <td>{{ data.Club.getClubPhone(true) }}</td>
                <td>{{ data.Club.getClubEmail }}</td>
            </tr>
        </tbody>
    </table>

    <h4 class="text-center">Réseaux sociaux</h4>

    <table class="table table-sm table-hover user-select-none">
        <tbody>
            <tr{% if access.check('Club-SocialEdit') %} onclick="load('{{ path('club-socialsEdit', {'club': data.Club.getClubId}) }}', 'popup')" onmouseover="this.style.cursor='pointer'"{% endif %}>
                <td class="text-center">{{ data.Club.getClubFacebook(true)|raw }}</td>
                <td class="text-center">{{ data.Club.getClubInstagram(true)|raw }}</td>
                <td class="text-center">{{ data.Club.getClubYoutube(true)|raw }}</td>
            </tr>
        </tbody>
    </table>

    <h4 class="text-center">Vue du dojo</h4>

    <div class="text-center"{% if access.check('Club-PhotoEdit') %} onclick="load('{{ path('club-photoEdit', {'club': data.Club.getClubId}) }}', 'popup')" onmouseover="this.style.cursor='pointer'"{% endif %}>
        <img class="rounded img-fluid user-select-none" alt="" src="{{ asset('uploads/clubs/'~data.Club.getClubId()~'.png') }}" />
    </div>
</div>