<div class="container col col-lg-10">
    {% if data.ExamToPay|length > 0 %}
    <h2 class="text-center">Examen en attente de paiement</h2>
    <table class="table table-sm table-hover user-select-none">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"># Licence</th>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Grade présenté</th>
            </tr>
        </thead>
        <tbody>
        {% for candidate in data.ExamToPay %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ candidate.Member.getMemberId }}</td>
                <td>{{ candidate.Member.getMemberFirstname }}</td>
                <td>{{ candidate.Member.getMemberName }}</td>
                <td>{{ listData.getGrade(candidate.Grade) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

    <h1 class="text-center">Liste des membres de la saison
        <label>
            <select class="h1 border-0 bg-transparent" onchange="window.open('{{ path('club-index', {'club': data.Club.getClubId}) }}' + '?season=' + this.value, '_self')">
                {% for Season in data.SeasonList %}
                    <option class="h1" value="{{ Season }}" {% if Season == data.Season %}selected{% endif %}>{{ Season }}</option>
                {% endfor %}
            </select>
        </label>
    </h1>
    <table class="table table-sm table-hover user-select-none">
        <thead>
            <tr>
                <th scope="col" rowspan="2" class="text-center" onclick="sortTable('MembersList', 0)" onmouseover="this.style.cursor='pointer'"></th>
                <th scope="col" rowspan="2" class="text-center" onclick="sortTable('MembersList', 1)" onmouseover="this.style.cursor='pointer'">Prénom</th>
                <th scope="col" rowspan="2" class="text-center" onclick="sortTable('MembersList', 2)" onmouseover="this.style.cursor='pointer'">Nom</th>
                <th scope="col" colspan="3" class="text-center">Cotisation</th>
                <th scope="col" colspan="3" class="text-center">Licence</th>
            </tr>
            <tr>
                <th scope="col" class="text-center" onclick="sortTable('MembersList', 3)" onmouseover="this.style.cursor='pointer'">Expire le</th>
                <th scope="col" class="text-center" onclick="sortTable('MembersList', 4)" onmouseover="this.style.cursor='pointer'">Dernier cours</th>
                <th scope="col" class="text-center" onclick="sortTable('MembersList', 5)" onmouseover="this.style.cursor='pointer'">Cours suivi</th>
                <th scope="col" class="text-center" onclick="sortTable('MembersList', 6)" onmouseover="this.style.cursor='pointer'">Expire le</th>
                <th scope="col" class="text-center" onclick="sortTable('MembersList', 7)" onmouseover="this.style.cursor='pointer'">Payée le</th>
                <th scope="col" class="text-center" onclick="sortTable('MembersList', 8)" onmouseover="this.style.cursor='pointer'">Encodée le</th>
            </tr>
        </thead>
        <tbody id="MembersList">
            <tr></tr>
        {% for member in data.Members.List %}
            <tr {% if access.check('Club-SubscriptionEdit') %}onclick="load('{{ path('club-subscriptionEdit', {'club': data.Club.getClubId, 'member': member.Id}) }}', 'popup')" onmouseover="this.style.cursor='pointer'"{% endif %}>
                <td class="text-center">{{ loop.index }}</td>
                <td class="text-center">{{ member.Firstname }}</td>
                <td class="text-center">{{ member.Name }}</td>
                <td class="text-center{% if member.ValidityTest %} bg-danger{% endif %}">{{ member.StatusText }}</td>
                <td class="text-center">{{ member.LastLesson }}</td>
                <td class="text-center">{{ member.ListText }}</td>
                <td class="text-center{% if member.DeadlineTest %} bg-danger{% endif %}{% if member.RenewTest %} bg-warning{% endif %}">{{ member.DeadlineText }}</td>
                <td class="text-center{% if member.PaymentTest %} bg-danger{% endif %}">{{ member.PaymentText }}</td>
                <td class="text-center">{{ member.StampText }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
