<div class="container col col-lg-8">
    {% if data.Stamp|length > 0 %}
        <h4 class="text-center">Timbre à imprimer{% if access.check('Club-PrintStamp') %} <button class="btn btn-sm btn-light" onclick="load('{{ path('club-printStamp', {'club': data.Club.getClubId}) }}', 'popup')" onmouseover="this.style.cursor='pointer'">Imprimer/Valider</button>{% endif %}</h4>

        <table class="table table-sm table-hover user-select-none">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"># Licence</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Echéance</th>
                    <th scope="col">Date paiement</th>
                </tr>
            </thead>
            <tbody>
            {% for member in data.Stamp %}
                <tr class="table-active">
                    <td>{{ loop.index }}</td>
                    <td>{{ member.getMemberId }}</td>
                    <td>{{ member.getMemberFirstname|title }}</td>
                    <td>{{ member.getMemberName|title }}</td>
                    <td>{{ member.getMemberLastLicence.getMemberLicenceDeadline|date("d/m/Y") }}</td>
                    <td>{% if member.getMemberLastLicence.getMemberLicencePaymentDate is null %}En attente{% else %}{{ member.getMemberLastLicence.getMemberLicencePaymentDate|date("d/m/Y") }}{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if data.Payment|length > 0 %}
        <h4 class="text-center">Licence en attente de paiement{% if access.check('Club-PaymentAdd') %} <button class="btn btn-sm btn-light" onclick="load('{{ path('club-paymentAdd', {'club': data.Club.getClubId}) }}', 'popup')" onmouseover="this.style.cursor='pointer'">Ajouter des paiements</button>{% endif %}</h4>

        <table class="table table-sm table-hover user-select-none">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"># Licence</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Echéance</th>
                    <th scope="col">Formulaire encodé le</th>
                </tr>
            </thead>
            <tbody>
            {% for licence in data.Payment %}
                <tr class="table-active">
                    <td>{{ loop.index }}</td>
                    <td>{{ licence.getMemberId }}</td>
                    <td>{{ licence.getMemberFirstname|title }}</td>
                    <td>{{ licence.getMemberName|title }}</td>
                    <td>{{ licence.getMemberLicenceDeadline|date("d/m/Y") }}</td>
                    <td>{{ licence.getMemberLicenceUpdate|date("d/m/Y") }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if data.ExamToPay|length > 0 %}
        <h4 class="text-center">Examen en attente de paiement</h4>

        <table class="table table-sm table-hover user-select-none">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"># Licence</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Grade présenté</th>
                </tr>
            </thead>
            <tbody>
            {% for candidate in data.ExamToPay %}
                <tr class="table-active">
                    <td>{{ loop.index }}</td>
                    <td>{{ candidate.Member.getMemberId }}</td>
                    <td>{{ candidate.Member.getMemberFirstname|title }}</td>
                    <td>{{ candidate.Member.getMemberName|title }}</td>
                    <td>{{ listData.getGrade(candidate.Grade) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <h4 class="text-center">Licences à renouveller{% if access.check('Club-FormDownload') %} <button class="btn btn-sm btn-light" onclick="load('{{ path('club-formRenew', {'club': data.Club.getClubId}) }}', 'popup')" onmouseover="this.style.cursor='pointer'"><i class="bi-download"></i> Télécharger Formulaires</button>{% endif %}</h4>

    <table class="table table-sm table-hover user-select-none">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"># Licence</th>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Echéance</th>
            </tr>
        </thead>
        <tbody>
            {% for licence in data.ToRenew %}
                <tr class="table-active" {% if access.check('Club-FormDownload') %}onclick="load('{{ path('club-memberDetail', {'club': data.Club.getClubId, 'member': licence.Member.getMemberId, 'source': 3}) }}', 'popup')" onmouseover="this.style.cursor='pointer'"{% endif %}>
                    <td>{{ loop.index }}</td>
                    <td>{{ licence.Member.getMemberId }}</td>
                    <td>{{ licence.Member.getMemberFirstname|title }}</td>
                    <td>{{ licence.Member.getMemberName|title }}</td>
                    <td>{{ licence.Deadline|date("d/m/Y") }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if data.Inactive|length > 0 %}
        <h4 class="text-center">Licences expirées récemment</h4>

        <table class="table table-sm table-hover user-select-none">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"># Licence</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Echéance</th>
                </tr>
            </thead>
            <tbody>
            {% for licence in data.Inactive %}
                <tr class="table-active" {% if access.check('Club-FormDownload') %}onclick="load('{{ path('club-memberDetail', {'club': data.Club.getClubId, 'member': licence.Member.getMemberId, 'source': 3}) }}', 'popup')" onmouseover="this.style.cursor='pointer'"{% endif %}>
                    <td>{{ loop.index }}</td>
                    <td>{{ licence.Member.getMemberId }}</td>
                    <td>{{ licence.Member.getMemberFirstname|title }}</td>
                    <td>{{ licence.Member.getMemberName|title }}</td>
                    <td>{{ licence.Deadline|date("d/m/Y") }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if access.check('Club-SubscriptionList') %}
        <h4 class="text-center">Gestion du club <button class="btn btn-sm btn-light mb-1" onclick="load('{{ path('club-secretariatOld', {'club': data.Club.getClubId}) }}', 'popup')" onmouseover="this.style.cursor='pointer'">Anciennes dates</button></h4>

        <table class="table table-sm table-hover user-select-none">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Expire le</th>
                    <th scope="col">Dernier cours</th>
                    <th scope="col">Cours suivi</th>
                </tr>
            </thead>
            <tbody>
            {% for member in data.Subscription %}
                <tr class="table-active" {% if access.check('Club-SubscriptionEdit') %}onclick="load('{{ path('club-subscriptionEdit', {'club': data.Club.getClubId, 'member': member.getMemberId}) }}', 'popup')" onmouseover="this.style.cursor='pointer'"{% endif %}>
                    <td>{{ loop.index }}</td>
                    <td>{{ member.getMemberFirstname|title }}</td>
                    <td>{{ member.getMemberName|title }}</td>
                    <td>{% if member.getMemberSubscriptionStatus == 1 %}<img alt="" src=" {{ asset('images/pass.png') }}" /> Jamais{% elseif member.getMemberSubscriptionStatus == 3 %}Ne pratique plus{% else %}{% if member.getMemberSubscriptionValidity > date() %}<img alt="" src=" {{ asset('images/pass.png') }}" />{% else %}<img alt="" src=" {{ asset('images/fail.png') }}" />{% endif %} {{ member.getMemberSubscriptionValidity|date('d/m/Y') }}{% endif %}</td>
                    <td>{% if data.LastLesson[member.getMemberId] is defined %}{{ data.LastLesson[member.getMemberId]|date('d/m/Y') }}{% else %}Inconnu{% endif %}</td>
                    <td>{{ listData.getClassType(member.getMemberSubscriptionList) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
