<h2 class="text-center p-3">{% if data.Previous is defined and data.Previous >= 0 %}<button class="btn btn-sm btn-light" onclick="load('{{ path('training-attendancesDetails', {training: data.Training.trainingId, offset: 0}) }}', 'attendancesDetails')" onmouseover="this.style.cursor='pointer'">Premier</button> <button class="btn btn-sm btn-light" onclick="load('{{ path('training-attendancesDetails', {training: data.Training.trainingId, offset: data.Previous}) }}', 'attendancesDetails')" onmouseover="this.style.cursor='pointer'">Précédent</button>{% endif %} Détails des présences {% if data.Next is defined and data.Next < data.Attendances|length %}<button class="btn btn-sm btn-light" onclick="load('{{ path('training-attendancesDetails', {training: data.Training.trainingId, offset: data.Next}) }}', 'attendancesDetails')" onmouseover="this.style.cursor='pointer'">Suivant</button> <button class="btn btn-sm btn-light" onclick="load('{{ path('training-attendancesDetails', {training: data.Training.trainingId, offset: data.Last}) }}', 'attendancesDetails')" onmouseover="this.style.cursor='pointer'">Dernier</button>{% endif %}</h2>
<table id="ListMembers" class="table table-sm table-hover unselectable">
    <thead>
        <tr onmouseover="this.style.cursor='pointer'">
            <th scope="col" onclick="sortTable('ListMembers', 0)"># Licence</th>
            <th scope="col" onclick="sortTable('ListMembers', 1)">Nom</th>
            <th scope="col" onclick="sortTable('ListMembers', 2)"># Cours</th>
            {% if access.check('Training-MemberPayment') %}
            <th scope="col" onclick="sortTable('ListMembers', 3)">Cash</th>
            <th scope="col" onclick="sortTable('ListMembers', 4)">Carte</th>
            <th scope="col" onclick="sortTable('ListMembers', 5)">Payconiq</th>
            <th scope="col" onclick="sortTable('ListMembers', 6)">Total</th>
            <th scope="col" onclick="sortTable('ListMembers', 7)">Ristourne</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for member in data.Attendances %}
        <tr class="table-active" {% if access.check('Training-FullAccess') or (not access.check('Training-AttendancesDetailsRestricted') and (data.Training.getTrainingLastDate > date() or data.Training.getTrainingLastDate.diff(date()).days <= 7)) %}onclick="load('{{ path('training-attendance', {'training': data.Training.getTrainingId, 'attendance': member.getTrainingAttendanceId}) }}', 'popup')" onmouseover="this.style.cursor='pointer'"{% endif %}>
            <td class="align-middle">{% if member.getTrainingAttendanceMember is not null %}{{ member.getTrainingAttendanceMember.getMemberId }}{% else %}N/A{% endif %}</td>
            <td class="align-middle">{% if member.getTrainingAttendanceMember is not null %}{{ member.getTrainingAttendanceMember.getMemberFirstname|title }} {{ member.getTrainingAttendanceMember.getMemberName|title }}{% else %}{{ member.getTrainingAttendanceName|title }}{% endif %}</td>
            <td class="align-middle">{{ member.getTrainingAttendanceSessions|length }}</td>
            {% if access.check('Training-MemberPayment') %}
            <td class="align-middle">{% if member.getTrainingAttendanceIsFree %}Gratuit{% else %}{{ (member.getTrainingAttendancePaymentCash / 100)|number_format(2, ',', '.') }} €{% endif %}</td>
            <td class="align-middle">{% if member.getTrainingAttendanceIsFree %}Gratuit{% else %}{{ (member.getTrainingAttendancePaymentCard / 100)|number_format(2, ',', '.') }} €{% endif %}</td>
            <td class="align-middle">{% if member.getTrainingAttendanceIsFree %}Gratuit{% else %}{{ (member.getTrainingAttendancePaymentTransfert / 100)|number_format(2, ',', '.') }} €{% endif %}</td>
            <td class="align-middle">{% if member.getTrainingAttendanceIsFree %}Gratuit{% else %}{{ ((member.getTrainingAttendancePaymentCash + member.getTrainingAttendancePaymentCard + member.getTrainingAttendancePaymentTransfert) / 100)|number_format(2, ',', '.') }} €{% endif %}</td>
            <td class="align-middle">{% if member.getTrainingAttendancePaymentDiscount is null %}--{% else %}{{ ((member.getTrainingAttendancePaymentDiscount) / 100)|number_format(2, ',', '.') }} €{% endif %}</td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
