<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Edition paiement</h5>
        </div>
        <div class="modal-body">
            {{ form_start(formEdit) }}
            {{ form_row(formEdit.MemberId) }}
            {{ form_row(formEdit.MemberLicencePaymentDate) }}
            <div class="d-grid gap-0">{{ form_widget(formEdit.Submit) }}</div>
            {{ form_end(formEdit) }}
        </div>
        <div class="modal-header">
            <h5 class="modal-title">Suppression</h5>
        </div>
        <div class="modal-body">
            {{ form_start(formDelete) }}
            {{ form_row(formDelete.Delete) }}
            <div class="d-grid gap-0">{{ form_widget(formDelete.Submit) }}</div>
            {{ form_end(formDelete) }}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        </div>
    </div>
</div>
