{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <div class="container col col-lg-5">
        <h1 class="text-center">Liste des sessions d'examens</h1>
        {% if access.check('Grade-SessionAdd') %}
        <div class="text-center mb-3">
            <button class="btn btn-sm btn-light" onclick="load('{{ path('grade-sessionAdd') }}', 'popup')" onmouseover="this.style.cursor='pointer'">Ajouter</button>
        </div>
        {% endif %}
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Type</th>
                    <th scope="col"># Candidats</th>
                    <th scope="col">Statut</th>
                </tr>
            </thead>
            <tbody>
            {% for session in data.Sessions %}
                <tr class="table-active"{% if (session.getGradeSessionType == 1 and access.check('Grade-Index')) or (session.getGradeSessionType == 2 and access.check('Grade-Kagami')) %} onclick="window.open('{{ path('grade-index', {'gradeSession': session.getGradeSessionId}) }}', '_self')" onmouseover="this.style.cursor='pointer'"{% endif %}>
                    <td class="align-middle">{{ session.getGradeSessionDate|date("d/m/Y") }}</td>
                    <td class="align-middle">{{ listData.getSessionType(session.getGradeSessionType) }}</td>
                    <td class="align-middle">{% if session.getGradeSessionType == 2 %}--{% else %}{{ session.getGradeSessionCandidates|length }}{% endif %}</td>
                    <td class="align-middle">{% if date() < session.getGradeSessionOpen %}Ouverture des candidatures le {{ session.getGradeSessionOpen|date("d/m/Y") }}{% elseif session.getGradeSessionIsOpen %}Candidatures ouvertes jusqu'au {{ session.getGradeSessionClose|date("d/m/Y") }}{% else %}Session Clôturée{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
