{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <h1 class="text-center">{{ data.Training.getTrainingName()|title }} {% if access.check('Training-TrainingEdit') %}<button class="btn btn-sm btn-primary" onclick="load('{{ path('training-trainingEdit', {'training': data.Training.getTrainingId}) }}', 'popup')" onmouseover="this.style.cursor='pointer'">Modifier</button>{% endif %}</h1>

    {% if access.check('Training-FullAccess') or ((data.Training.getTrainingLastDate > date() or data.Training.getTrainingLastDate.diff(date()).days <= 7) and access.check('Training-AttendanceAdd')) %}
        <div class="container col col-lg-3 text-center">
            {{ form_start(form) }}
            {{ form_row(form.Search) }}
            <div class="visually-hidden">{{ form_row(form.Submit) }}</div>
            {{ form_end(form) }}
        </div>
        {% if data.SearchForeign is defined %}
            <h4 class="text-center">Résultats recherche non membre déjà inscrit</h4>
            <div class="container col col-lg-8">
                <table class="table table-sm table-hover user-select-none col col-lg-8">
                    <tbody>
                        <tr {% if access.check('Training-AttendanceAdd') %}onclick="load('{{ path('training-attendance', {'training': data.Training.trainingId, 'attendance': 'null', 'Name': data.Search, }) }}', 'popup')" onmouseover="this.style.cursor='pointer'"{% endif %}>
                            <td class="align-middle text-center"><button class="btn btn-lg btn-primary" onmouseover="this.style.cursor='pointer'">Ajouter</button></td>
                        </tr>
                    {% if data.SearchForeign.0 is defined %}
                        {% for foreign in data.SearchForeign %}
                            <tr {% if access.check('Training-AttendanceAdd') %}onclick="load('{{ path('training-attendance', {'training': data.Training.trainingId, 'attendance': foreign.Id}) }}', 'popup')" onmouseover="this.style.cursor='pointer'"{% endif %}>
                                <td class="align-middle text-center">{{ foreign.Name|title }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        {% if data.SearchMember.0 is defined %}
            <h4 class="text-center">Résultats recherche membre AFA</h4>
            <div class="container col col-lg-5">
                <table class="table table-sm table-hover user-select-none">
                    <thead>
                        <tr class="border-bottom-0">
                            <th scope="col" class="text-center">Photo</th>
                            <th scope="col" class="text-center"># Licence</th>
                            <th scope="col" class="text-center">Prénom</th>
                            <th scope="col" class="text-center">Nom</th>
                            <th scope="col" class="text-center">Club</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for member in data.SearchMember %}
                            <tr {% if access.check('Training-AttendanceAdd') %}onclick="load('{{ path('training-attendance', {'training': data.Training.trainingId, 'attendance': 'null', 'Member': member.Id}) }}', 'popup')" onmouseover="this.style.cursor='pointer'"{% endif %}>
                                <td class="align-middle text-center"><img alt="" src="{{ member.Photo }}" /></td>
                                <td class="align-middle text-center">{{ member.Id }} {% if member.Deadline > date() %}<img alt="" src=" {{ asset('images/pass.png') }}" />{% else %}<img alt="" src=" {{ asset('images/fail.png') }}" />{% endif %}</td>
                                <td class="align-middle text-center">{{ member.FirstName|title }}</td>
                                <td class="align-middle text-center">{{ member.Name|title }}</td>
                                <td class="align-middle text-center">{{ member.ClubId }} - {{ member.Club|title }}</td>
                            </tr>
                            {% if access.check('Training-DiscountAdd') %}
                            <tr class="border-bottom-0" onclick="load('{{ path('training-discountAdd', {'training': data.Training.trainingId, 'member': member.Id}) }}', 'popup')" onmouseover="this.style.cursor='pointer'">
                                <td class="align-middle text-center p-0" colspan="5">Ajouter/Modifier Ristourne</td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    {% endif %}

    <div class="container">
        <ul class="nav nav-tabs nav-justified">
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#lesson" id="lessonTab" onclick="load('{{ path('training-lessonTab', {'training': data.Training.getTrainingId}) }}', 'lesson')"><strong>Cours</strong></a>
            </li>
            {% if access.check('Training-FullAccess') or ((data.Training.getTrainingLastDate > date() or data.Training.getTrainingLastDate.diff(date()).days <= 7) and access.check('Training-AttendanceAdd')) %}
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#money" id="moneyTab" onclick="load('{{ path('training-moneyTab', {'training': data.Training.getTrainingId}) }}', 'money')"><strong>Caisse</strong></a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#attendance" id="attendanceTab" onclick="load('{{ path('training-attendanceTab', {'training': data.Training.getTrainingId}) }}', 'attendance')"><strong>Présences</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#stat" id="statTab"><strong>Statistiques</strong></a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade show my-3" id="lesson"></div>
            {% if access.check('Training-FullAccess') or ((data.Training.getTrainingLastDate > date() or data.Training.getTrainingLastDate.diff(date()).days <= 7) and access.check('Training-AttendanceAdd')) %}
            <div class="tab-pane fade show my-3" id="money"></div>
            {% endif %}
            <div class="tab-pane fade show my-3" id="attendance"></div>
            <div class="tab-pane fade show my-3" id="stat"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        function check()
        {
            let x = document.getElementsByClassName("form-check-input");
            let c = document.getElementById("checkall");
            let i;

            for (i = 0; i < x.length; i++)
            {
                if (x[i].type === "checkbox")
                {
                    x[i].checked = c.checked;
                }
            }
        }
    </script>
    {% if app.session.get('activeTrainingTab') == 'lessonTab' %}
        <script type="text/javascript">
            let tab = document.getElementById('lessonTab');
            tab.classList.add("active");

            let pane = document.getElementById('lesson');
            pane.classList.add("active");

            load('{{ path('training-lessonTab', {'training': data.Training.getTrainingId}) }}', 'lesson');
        </script>
    {% endif %}
    {% if app.session.get('activeTrainingTab') == 'moneyTab' %}
        <script type="text/javascript">
            let tab = document.getElementById('moneyTab');
            tab.classList.add("active");

            let pane = document.getElementById('money');
            pane.classList.add("active");

            load('{{ path('training-moneyTab', {'training': data.Training.getTrainingId}) }}', 'money');
        </script>
    {% endif %}
    {% if app.session.get('activeTrainingTab') == 'attendanceTab' %}
        <script type="text/javascript">
            let tab = document.getElementById('attendanceTab');
            tab.classList.add("active");

            let pane = document.getElementById('attendance');
            pane.classList.add("active");

            load('{{ path('training-attendanceTab', {'training': data.Training.getTrainingId}) }}', 'attendance');
        </script>
    {% endif %}
    {% if app.session.get('activeTrainingTab') == 'statTab' %}
        <script type="text/javascript">
            let tab = document.getElementById('statTab');
            tab.classList.add("active");

            let pane = document.getElementById('stat');
            pane.classList.add("active");
        </script>
    {% endif %}
{% endblock %}

