{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <div class="container col col-lg-5">
        <h1 class="text-center m-0">
            Liste des stages
            <label>
                <select class="h1 border-0 bg-transparent" onchange="window.open('{{ path('training-list') }}' + '/' + this.value, '_self')">
                    {% for year in data.YearList %}
                        <option class="h5" value="{{ year }}" {% if year == data.Year %}selected{% endif %}>{{ year }}</option>
                    {% endfor %}
                </select>
            </label>
        </h1>

        {% if access.check('Training-Add') %}
        <div class="text-center">
            <button class="btn btn-lg btn-primary m-0" onclick="load('{{ path('training-trainingAdd') }}', 'popup')" onmouseover="this.style.cursor='pointer'">Ajouter</button>
        </div>
        {% endif %}

        <table id="stageList" class="table table-sm table-hover mt-3">
            <thead>
                <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col" class="text-center">Date</th>
                    <th scope="col" class="text-center">Stage</th>
                    <th scope="col" class="text-center">Pratiquants</th>
                    {% if access.check('Training-TotalPayment') %}<th scope="col" class="text-center">Caisse</th>{% endif %}
                </tr>
            </thead>
            <tbody>
            {% if access.check('Training-TotalPayment') %}{% set total = 0 %}{% endif %}
            {% for training in data.Trainings %}
                <tr {% if access.check('Training-Index') %}onclick="window.open('{{ path('training-index', {'training': training.getTrainingId}) }}', '_self')" onmouseover="this.style.cursor='pointer'"{% endif %}>
                    <td class="align-middle text-center">{{ loop.index }}</td>
                    <td class="align-middle text-center">{{ training.getTrainingFirstDate|date("d/m/Y") }}</td>
                    <td class="align-middle">{{ training.getTrainingName }}</td>
                    <td class="align-middle text-center">{{ training.getTrainingAttendances|length }}</td>
                    {% if access.check('Training-TotalPayment') %}<td class="align-middle text-end">{{ ((training.getTrainingPaymentsTotal.Cash + training.getTrainingPaymentsTotal.Card + training.getTrainingPaymentsTotal.Transfert) / 100)|number_format(2, ',', '.') }} €</td>{% endif %}
                </tr>
                {% if access.check('Training-TotalPayment') %}{% set total = total + ((training.getTrainingPaymentsTotal.Cash + training.getTrainingPaymentsTotal.Card + training.getTrainingPaymentsTotal.Transfert) / 100) %}{% endif %}
            {% endfor %}
            </tbody>
        </table>

        {% if access.check('Training-TotalPayment') %}
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Total pour l'année</th>
                    <th scope="col" class="text-end">{{ total|number_format(2, ',', '.') }} €</th>
                </tr>
            </thead>
        </table>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
