<div class="container col col-lg-8">
    {% for grade in data.Stages.History %}
        {% if loop.index == 1 %}
            <h3 class="text-center">{{ listData.grade(grade.Rank) }}</h3>
            <h4 class="text-center">Stage : {{ grade.Total }} h{% if data.LessonCount.Adult.SumAdult != 0 %} | Cours Adulte : {{ data.LessonCount.Adult.SumAdult / 60 }} h{% endif%}{% if data.LessonCount.Child.SumChild != 0%} | Cours Enfants : {{ data.LessonCount.Child.SumChild / 60 }} h{% endif %}</h4>
        {% else %}
            <h3 class="text-center">{{ listData.grade(grade.Rank) }} ({{ grade.Total }} h)</h3>
        {% endif %}

        {% if grade.Stage is defined %}
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Durée</th>
                    </tr>
                </thead>
                <tbody>
                {% for stage in grade.Stage %}
                    <tr class="table-active">
                        <td>{{ stage.Date|date("d/m/Y") }}</td>
                        <td>{{ stage.Name }}</td>
                        <td>{{ stage.Duration }} h</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endfor %}
</div>
